@media screen and (min-width: 65em) {

    main {
        max-width: 100em;
        grid-template-columns: repeat(3,1fr);
    }

    .fitt {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .hick {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .space-design {
        grid-row: 1/2;
        grid-column: 3/4;
        max-width: auto;
    }

}