@media screen and (min-width: 85em) {

  body {
    display: grid;
    place-items: center;
  }

  .content {
    max-width: 97.5em;
  }

  h1 {
    font-size: 36px;
  }

  .links a {
    margin: 5%;
  }

  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navigation {
      display: flex;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  main {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }

  hr {
    display: none;
  }

  .hero {
    grid-column: 2/4;
    grid-row: 1/3;
    max-width: 45em;
    max-height: 45em;
    width: 100%;
    height: 100%;
  }

  .hero img {
    width: 100%;
  }

  .div-event {
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .div-weather {
    grid-column: 1/2;
    grid-row: 2/4;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .weather {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .weather h3 {
    padding-right: 15px;
  }

  .div-new-release {
    grid-column: 2/4;
    grid-row: 3/4;
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .div-spotlights {
    grid-column: 4/5;
    grid-row: 1/4;
    min-height: 100%;
    place-items: center;
  }

  .spotlights {
    display: grid;
    grid-template-rows: repeat(3,auto);
    padding: 2%;
    place-items: center;
    margin-top: 1.5%;
  }

  .spotlight1 {
    width: 90%;
    grid-row: 1/2;
    grid-column: 1/3;
    margin: 0 auto;
  }

  .spotlight2 {
    width: 90%;
    grid-row: 2/3;
    grid-column: 1/3;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  .spotlight3{
    width: 90%;
    grid-row: 3/4;
    grid-column: 1/3;
    margin: 0 auto;
  }

  .spotlights hr{
    display: none;
  }

  .div-spotlights, .div-weather, .div-new-release, .div-event, .hero{
    border: 3px solid black;
    background-color: #10104b;
  }

  .weather hr, .spotlight1 hr, .spotlight2 hr, .spotlight3 hr {
    display: inline;
  }

  /* DISCOVER*/

  .discover {
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .discover section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
  }

  .discover section picture{
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .discover .text {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .discover section p{
    padding: 20px;
  }

  .discover picture img{
    height: 100%;
    width: 90%;
  }

  .lastVisit {
    margin-bottom: 50px;
  }

  /* END DISCOVER */

  /* START JOIN AND THANK YOU*/

  .join, .thankYou {
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .join hr, .thankYou hr {
    width: 96em;
  }

  .join .rad-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* WORKING THE TABLE AND ADDING SOME GRID */

  .join .rad-tab .radio {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .join .rad-tab .table {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  /* END JOIN AND THANK YOU */

    /* START DIRECTORY */
    main:has(.directory)
    {
      display: block;
    }
    .directory .gridView {
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(3,1fr);
    }
    .directory .grid:last-child {
      grid-column: auto;
      width: auto;
    }

    .directory .list {
      margin: 0 auto;
      width: 96%;
    }

    /* END DIRECTORY */

}