@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto+Mono&family=Ubuntu:ital@1&display=swap');

h1, h2, h3, h4, h5, h6, .title-link {
  font-family: 'Ubuntu', serif, sans-serif;
}

p , li{
  font-family: 'Roboto Mono', monospace, sans-serif;
}
.content {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3,auto);
  width: 100%;
}

/*START HEADER*/

header{
  grid-row: 1/2;
  text-align: center;
  background-color: #10104b;
  color: white;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3,auto);
  padding-top: 10px;
}

.banner {
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
  margin: 20px 0;
  width: 80%;
  place-self: center;
  background-color: #A0C1D1;
  color: #000;
}

h1 {
  font-size: 24px;
}

.h3-bg {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: #A0C1D1;
  min-width: 90%;
  border: 2px solid #000;
  place-self: center;
  opacity: .4;
  z-index: 0;
}

.h3-bg .date-header {
  margin: 0;
}

.date-header {
  grid-row: 3/4;
  grid-column: 1/3;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.img-title {
  width: 96%;
  text-align: center;
  grid-column: 1/3;
  padding: 10px;
  justify-content: center;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
}
.img-title img{
  grid-column: 1/2;
  max-width: 100%;
  align-self: center;
}
.img-title h1{

  font-family: 'Kablammo';
  font-size: 35px;
  grid-row: 1/2;
  align-self: center;
  grid-column: 2/3;
  max-width: 100%;
}

header nav {
  grid-row: 2/3;
  width: 100%;
  background-color: #A0C1D1;
}

header nav a{
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 40px;
  font-size: 24px;
  transition: transform .3s;
}

header nav a:hover{
  opacity: .6;
  transform: scale(1.1);
}

/*END HEADER*/

/* Hamburger Menu */
.first-nav {
  grid-row: 4/5;
  grid-column: 1/3;
  margin: 0 auto;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navigation li {
  display: none;
}

.navigation li:hover {
  border: 4px dashed #5B8C5A;
}

.navigation li:first-child{
  display: block;
  border: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #000;
}
.responsive li {
  display: block;
}

/* End Hamburger Menu */

main {
  grid-row: 2/3;
  text-align: center;
  margin: 15px;
}

main hr {
  width: 100%;
}


.drink-mix {
  grid-row: 1/2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink-mix img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-drink-mix h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 12%;
  margin: 0 auto;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 3px red;
}

.text-drink-mix button a {
  text-decoration: none;
}

.text-drink-mix button {
  transition: transform .3s;
}

.text-drink-mix button:hover {
  transform: scale(1.15);
}


.text-drink-mix button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: greenyellow;
  width: 10em;
  height: 2.5em;
  font-size: 1.3em;
  color: white;
}
.information h3 {
  font-weight: bolder;
  font-size: 1.3em;
}

.information p {
  padding: 2%;
  padding-top: 0;
}


.information {
  background-color: #A0C1D1;
  display: flex;
  flex-direction: column;
}

.information p, .information span {
  font-size: 1.15em;
}

.information p {
  padding: 0 5%;
}

.information span {
  align-self: center;
  padding-bottom: 20px;
  color: #10104b;
}

.weather h1, .drinks h1, .information h1  {
  place-self: center;
  font-size: 2em;
  margin: 0;
  color: #10104b;
  text-shadow: 2px 2px 2px white;
}

.weather {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(6,auto);
  background-color: #A0C1D1;
  font-size: 1.5em;
  margin: 0 auto;
  width: 80%;
}

.weather h1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

#condition-img {
  place-self: center;
  grid-row: 2/5;
  grid-column: 1/2;
  width: 150px;
  margin: 0;
}

#temperature {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 5% 0;
}

#condition-text{
  grid-row: 3/4;
  grid-column: 2/3;
  margin: 0;
}

.weather hr {
  grid-column: 1/3;
  grid-row: 5/6;
  margin: 0;
  width: 85%;
  place-self: center;
}

#humidity{
  grid-row: 4/5;
  grid-column: 2/3;
  margin: 5% 0;
}

#wind-chill{
  grid-row: 6/7;
  grid-column: 1/3;
  margin: 2% 0;
}

.drinks {
  background-color: #A0C1D1;
  padding: 2%;
}

/* FOOTER */

footer {
    grid-row: 3/4;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5%;
    text-align: center;
    background-color: #10104b;
    color: white;
}

.links {
    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 15%;
}

.links img{
    max-width: 100%;
}

/* WEATHER */

.day1{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  place-items: center;
}

.day2{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  place-items: center;
}

.day3{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  place-items: center;
}

.forecast{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-row: 6/7;
  grid-column: 1/3;
  width: 100%;
}

.forecast-box {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.forecast-box h4:first-child, .forecast-box p{
  margin-bottom: 0;
}
.forecast-box h4:last-child{
  margin-top: 0;
}

.forecast-box img{
  width: 100%;
}

.next{
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  transition: transform .5s;
}

.next:hover{
  transform: scale(1.5);
}

.next:last-child{
  margin-right: 30%;
}

.no-display{
  visibility: hidden;
}

.not-small{
  display: none;
}



.footer-navigation {
  width: 100%;
}

.footer-navigation ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-navigation ul li{
  text-align: center;
  padding: 35px;
  font-size: 24px;
  transition: transform .5s;
}

.footer-navigation ul li a{
  color: white;
  text-decoration: none;
}

.footer-navigation ul li:hover{
  opacity: .6;
  transform: scale(1.1);
}

main hr{
  border: 2px solid #5B8C5A;
}

.weather hr{
  border: 1px solid lightslategray;
}

/* START FRESH */

.fresh {
  width: 100%;
}

main:has(.fresh){
  width: 100%;
}

.drink-mix-inf{
  display: flex;
  flex-direction: column;
}

.select-options {
  display: flex;
  flex-direction: column;
}

.select-options select {
  margin: 5px;
  font-family: 'ubuntu';
  text-align: center;
}

.textarea-label{
  font-family: 'Roboto Mono';
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textarea-label textarea{
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
}

.personal-inf {
  max-width: 750px;
  margin: 0 auto;
}

.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-color: #A0C1D1;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  border: 5px dashed #5B8C5A;
  overflow-y: scroll;
}

.content-box::-webkit-scrollbar, .content-box .div-client p::-webkit-scrollbar{
  display: none;
}

.content-box .order-date{
  grid-row: 1/2;
  grid-column: 1/3;
}

.content-box .div-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box .div-client{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-client h2, .div-client h3, .div-client p{
  margin: 4px;
}

.div-order h2, .div-order h3, .div-order p{
  margin: 4px;
}

.div-client, .div-order{
  margin: 10px;
}

.content-box .div-client p{
  max-width: 250px;
  width: 100%;
  overflow-x: scroll;
}

.light-box button{
  border-radius: 50px;
  margin-top: 15px;
}

.light-box button a{
  text-decoration: none;
  font-family: 'ubuntu';
  color: #10104b;
}
.light-box button a:hover{
  color: red;
}

.fresh form .personal-inf, .fresh form .drink-mix-inf {
  background-color: #A0C1D1;
}
/* END FRESH */


/* START ABOUT US */

.aboutUs{
  background-color: #A0C1D1;
}

main:has(.aboutUs){
  width: 95%;
}

.map{
  position: relative;
  text-align: right;
  width: 100%;

}
.gmap{
  overflow: hidden;
  background: none !important;
  width: 100%;
}
#gmap{
  width: 100%;
  transition: transform .3s;
}

#gmap:hover{
  opacity: .6;
  transform: scale(1.1);
}

main:has(.aboutUs) hr{
  width: 100%;
  border: 5px solid #5B8C5A;
}

.aboutUs .about-inf{
  max-width: 55em;
  background-color: #A0C1D1;
}

.aboutUs .about-inf {
  border: 5px dashed #5B8C5A;
  background-color: #10104b;
  color: #fff;
}

.aboutUs .form-map{
  grid-column: 1/2;
  width: 95%;
  margin: 5% auto;
}

.aboutUs .information{
  text-align: center;
  max-width: 30em;
  background-color: #10104b;
  color: white;
  margin: 0 auto;
  width: 95%;
  padding: 30px 0;
  border: 5px dashed #5B8C5A;
  display: grid;
  grid-template-columns: 50% 50%;
}

.aboutUs .information h1{
  color: white;
  text-shadow:4px 4px 4px #5f0181;
  grid-column: 1/3;
  grid-row: 1/2;
}

.aboutUs .about{
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30em;
  color: white;
  background-color: #10104b;
  border: 5px dashed #5B8C5A;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 5%;
}

.aboutUs .information h4{
  overflow-x: scroll;
}

.aboutUs .information h4::-webkit-scrollbar{
  display: none;
}

.aboutUs .information h4{
  text-align: left;
}

.fresh form fieldset, .aboutUs form fieldset {
  border: 3px solid black;
}

.fresh form legend, .aboutUs form legend {
  font-family: 'ubuntu';
  font-size: 1.2em;
  text-decoration: underline;
}

.fresh legend, .aboutUs legend {
  padding-top: 15px;
}

/* END ABOUT US */